@model IEnumerable<ShauliProject.Models.Fan>

@Styles.Render("~/Styles/Model.css")

<div id="mainContent">
    <section id="search">
        @using (Html.BeginForm("Search", "Fan", FormMethod.Get))
        {
            var fan = new ShauliProject.Models.Fan();
            Html.Action("IsUserManager", "Login");
            bool isUserManager = (bool)TempData["IsUserManager"];

            <div class="searchContriner">
                @Html.LabelFor(model => fan.FirstName, htmlAttributes: new { @class = "control-label col-md-3" })
                <span class="col-md-4">
                    @Html.EditorFor(model => fan.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </span>
            </div>
            <div class="searchContriner">
                @Html.LabelFor(model => fan.LastName, htmlAttributes: new { @class = "control-label col-md-3" })
                <span class="col-md-4">
                    @Html.EditorFor(model => fan.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </span>
            </div>
            if (isUserManager)
            {
                <div class="searchContriner">
                    @Html.LabelFor(model => fan.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-3" })
                    <span class="col-md-4">
                        @Html.EditorFor(model => fan.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    </span>
                </div>
            }
            if (isUserManager)
            {
                <div class="searchContriner">
                    @Html.LabelFor(model => fan.Gender, htmlAttributes: new { @class = "control-label col-md-3" })
                    <span class="col-md-4">
                        @Html.EnumDropDownListFor(model => fan.Gender, new { htmlAttributes = new { @class = "form-control" } })
                    </span>
                </div>
            }
            <div class="searchContriner">
                @Html.LabelFor(model => fan.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                <span class="col-md-4">
                    @Html.EditorFor(model => fan.Address, new { htmlAttributes = new { @class = "form-control" } })
                </span>
            </div>
            <div class="searchContriner">
                <input class="btn btn-default" type="submit" name="Search" value="חפש" />
            </div>
        }
    </section>

    <p>
        @Html.ActionLink("Add New Fan", "Create")
    </p>
    @if (Model.Count() > 0)
    {
        <table id="modelTable" class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearsOfSeniority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearsOfSeniority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                        @Html.ActionLink("Find Post", "FindPost", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    }
</div>